<form class="example-form">
    <h1 class="paraTitle">Calculator</h1>
    <mat-form-field class="example-full-width">
        <mat-label>Enter your String</mat-label>
        <input matInput #TextValue [(ngModel)]="inputTextValue" placeholder="" type="text" name="inputTextValue">
    </mat-form-field>
    <button mat-raised-button (click)="add(TextValue.value)">Submit</button>
    <p class="para" *ngIf="ShowResult">Sum of the string : {{Result}}</p>
</form>
<script src="jasmine.js"></script>
<script src="jasmine-html.js"></script>
<script src="boot.js"></script>